
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/RawSocketAPI.csprojResolveAssemblyReference.cache
obj/Debug/RawSocketAPI.csproj.GenerateResource.Cache
obj/Debug/RawSocketAPI.csproj.FileListAbsolute.txt
obj/Debug/MM4RawSocketAPI.Properties.Resources.resources
obj/Debug/MM4RawSocketAPI.pdb
obj/Debug/MM4RawSocketAPI.Form1.resources
obj/Debug/MM4RawSocketAPI.exe
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Newtonsoft.Json.dll
bin/Debug/MM4RawSocketAPI.vshost.exe.config
bin/Debug/MM4RawSocketAPI.vshost.exe
bin/Debug/MM4RawSocketAPI.pdb
bin/Debug/MM4RawSocketAPI.exe.config
bin/Debug/MM4RawSocketAPI.exe
bin/Debug/MM4RawSocketAPI.vshost.exe.manifest
*.cache
bin/Release/Newtonsoft.Json.xml
bin/Release/Newtonsoft.Json.dll
bin/Release/MM4RawSocketAPI.vshost.exe.manifest
bin/Release/MM4RawSocketAPI.vshost.exe.config
bin/Release/MM4RawSocketAPI.vshost.exe
bin/Release/MM4RawSocketAPI.pdb
bin/Release/MM4RawSocketAPI.exe.config
bin/Release/MM4RawSocketAPI.exe
obj/Release/MM4RawSocketAPI.exe
obj/Release/MM4RawSocketAPI.Form1.resources
obj/Release/MM4RawSocketAPI.pdb
obj/Release/MM4RawSocketAPI.Properties.Resources.resources
obj/Release/RawSocketAPI.csproj.FileListAbsolute.txt
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/obj
/.vs
