<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MM4RawSocketAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <MM4RawSocketAPI.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>47000</value>
            </setting>
            <setting name="ClientIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>47001</value>
            </setting>
            <setting name="LastMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVariable" serializeAs="String">
                <value />
            </setting>
        </MM4RawSocketAPI.Properties.Settings>
    </userSettings>
</configuration>